<div class="row justify-content-md-center mt-2">
  <div class="col col-md-11">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <h3 class="font-weight-bold">HumApp</h3>
          </div>
          <%= image_tag "digital-nrw.jpg", size: "360x120", class: "col-md-4"%>
          <%= image_tag "wzl.jpg", size: "360x120", class: "col-md-4"%>
        </div>

      </div>
    </div>
  </div>
</div>
<!--
<code>
<%=  @user %>
hi
</code> -->
