<div class="row justify-content-md-center mt-2">
  <div class="col col-md-11">
    <div class="card">
      <div class="card-header">
        <h4>Internet of Production - Production Control Center</h4>
      </div>
      <div class="card-body">
        <p>Hierbei handelt es sich um eine eingeschränkte Version des Production Control Centers, weshalb hier nur die Anwendung zum Forschungsprojekt LeaF (http://www.leaf.wzl.rwth-aachen.de/) sowie die Anwendung HumApp zur Auswertung der Feuchtigkeitssensoren (https://www.digital-in-nrw.de/) angezeigt werden.</p>
      </div>
    </div>
    <div class="card card-header">
      <div class="card-deck">
        <div class="card  my-2" >
          <%= image_tag("ppc1.png", class: "card-img-top cover py-3 px-3", height: "200", alt: "Image not found") %>
          <div class="card-body">
            <h5 class="card-title">Leaf-app</h5>
            <p class="card-text">Applikation zur strukturierten Erfassung von Fehlerinformationen</p>
            <div class="d-flex justify-content-center">
              <a href="https://10.182.176.107:8000" class="btn btn-primary mx-auto" target="_blank">Start app</a>
            </div>
          </div>
        </div>
        <div class="card  my-2" >
          <%= image_tag("ppc2.png", class: "card-img-top cover py-3 px-3", height: "200", alt: "Image not found") %>
          <div class="card-body">
            <h5 class="card-title">HumApp</h5>
            <p class="card-text">Eine Anwendung zur Überwachung des Trocknungsprozesses der Produkte</p>
            <div class="d-flex justify-content-center">
              <a href="https://10.182.176.107:3001" class="btn btn-primary" target="_blank">Start app</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
