<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
	Highcharts.chart('container', {
		chart: {
				type: 'spline'
		},
		title: {
				text: 'Live Data (Rows JSON)'
		},

		subtitle: {
				text: 'Data input from a remote JSON file'
		},

		data: {
				rowsURL: 'https://demo-live-data.highcharts.com/time-rows.json',
				firstRowAsNames: false,
				enablePolling: true
		}
	});
</script>
